---
layout: markdown_page
title: "GitHub"
---
<!-- This is the template for defining sections which will be included in a tool comparison page. This .md file is included in the top of the page and a table of feature comparisons is added directly below it. This template provides the sections which can be included, and the order to include them. If a section has no content yet then leave it out. Leave this note in tact so that others can see where new sections should be added.

## Summary
   - minimal requirement <-- comment. delete this line
## Comparison
   - features comparison table will follow this <-- comment. delete this line

## GitLab vs. GitHub Information 

GitLab vs. GitHub information is presented in three primary sections.  First we provide a detailed [GitLab vs. GitHub features comparison](#comparison-).  Second we provide a **Why GitLab vs. GitHub** overview tailored for the [Business Decision Maker](https://about.gitlab.com/devops-tools/github/Why-GitLab-Over-GitHub-for-the-Business-Decision-Maker.html).  Lastly, we share our findings generated from side by side [analysis between GitLab and GitHub](#gitlab-vs-github-analysis-) for specific categories, use-cases and features.

<!------------------Begin page additions below this line ------------------ -->
## On this page
{:.no_toc}

- TOC
{:toc}

<div class="sdlc-component-container">
  <%# <%= partial "includes/sdlc_comparison_tabs_vue" %>
</div>

## GitHub-GitLab Comparison Infographic

Here's an infographic that compares GitHub and GitLab.  The methodology used to build this chart can be found [here](#comparison_note).  More detailed comparisons and commentary on strenghts, gaps etc. are in sections below.

![GitLab GitHub Comparison Chart](/devops-tools/github/images/github_comparison.png)

## GitHub Overview

[GitLab vs. GitHub](https://www.youtube.com/watch?v=s8DCpG1PeaU&feature=youtu.be) - a comparison video created by an independent external source (LinuxHint.com).

GitHub is a collaborative code repository to host and review code, manage projects and build software. It offers all of the distributed version control and source code management (SCM) functionality of Git as well as adding its own features. It provides access control and several collaboration features such as bug tracking, feature requests, task management, and wikis for every project.

In November 2019, GitHub announced general availability of GitHub Actions for all users.  GitHub Actions feature enables code snippets to be run in a container upon a wide variety of GitHub API calls. This has the promise of enabling users to orchestrate their workflows based on any event. With GitHub Actions, workflows and steps are just code in a repository. Actions enable GitHub to offer CI/CD, which makes it easier to automate how you build, test, and deploy your projects and includes runner support for Linux, macOS, and Windows. It runs your workflows in a container or in a virtual machine.

Similarly, GitLab has integrated CI/CD, but also offers additional capabilities such as application performance and server monitoring. GitLab also includes static and dynamic security testing and container scanning.

GitHub does not come with a deployment platform and needs additional applications, like Heroku, in order to deploy applications. GitLab leverages [Kubernetes](/solutions/kubernetes/) to create a seamless deployment experience in a single application.

GitHub offers plans for both private repositories and free accounts which are commonly used to host open-source software projects.

As of September 2019, GitHub reports having over 40 million developers.  Although Developers are defined as "Developers are individual user accounts on GitHub, regardless of their activity." and 100 million repositories (including 28 million public repositories), making it the largest host of source code in the world.

GitHub is also offered in a self-managed version called GitHub Enterprise (GHE).

Microsoft acquired GitHub on June 4, 2018.


## GitHub to GitLab Decision Kit

- [For the Business Decision Maker](https://about.gitlab.com/devops-tools/github/Why-GitLab-Over-GitHub-for-the-Business-Decision-Maker.html)

- [Version Control & Collaboration](https://about.gitlab.com/devops-tools/github/GitLab-vs-GitHub-for-VCC.html)

- [Continuous Integration](https://about.gitlab.com/devops-tools/github/GitLab-vs-GitHub-for-CI.html)

- [Continuous Devlivery](https://about.gitlab.com/devops-tools/github/GitLab-vs-GitHub-for-CD.html)

- [DevSecOps](https://about.gitlab.com/devops-tools/github/GitLab-vs-GitHub-for-DevSecOps.html)

- [Simplifying DevOps](https://about.gitlab.com/devops-tools/github/GitLab-vs-GitHub-for-Simplifying-DevOps.html)

- [License Comparison](https://about.gitlab.com/devops-tools/github/GitLab-vs-GitHub-License.html)

- [GitHub Support Comparison](https://about.gitlab.com/devops-tools/github/GitLab-vs-GitHub-Support.html)

 [GitHub News Markers](https://about.gitlab.com/devops-tools/github/GitHub-News-Markers.html)

## Additional Resources
* [GitHub Website](https://www.github.com/)
* [How GitLab is Enterprise Class](https://about.gitlab.com/solutions/enterprise-class/) - written with GitHub Enterprise claims in mind
* [GitHub Package Registry](https://github.com/features/package-registry)
* [GitHub Actions page](https://github.com/features/actions)


## Comparison <a name="comparison-"></a>
